version: '3'
services:

  database:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: "database"
      MYSQL_ROOT_PASSWORD: "password"

  application:
    image: com.giero/simple-mysql-app:0.0.1
    ports:
      - "8080:8080"
    links:
      - database
    restart: always